<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Mitarbeiter bearbeiten</title>
    <link rel="stylesheet" href="/css/bearbeiten.css"> <link rel="stylesheet" href="/css/bearbeiten.css"> </head>
<body>
    <div class="page-wrapper">
        <h1>Mitarbeiter Kalender bearbeiten</h1>

        <div class="filter-bereich">
            <label for="ressortFilter">Ressort:</label>
            <select id="ressortFilter"><option value="">Alle Ressorts</option></select>
            <label for="cvdFilter">CVD:</label>
            <select id="cvdFilter"><option value="">Alle</option><option value="true">Ja</option><option value="false">Nein</option></select>
            <label for="mitarbeiterSuche">Suchen:</label>
            <input type="text" id="mitarbeiterSuche" placeholder="Name oder ID...">
        </div>

        <div class="table-container">
            <table class="mitarbeiter-kalender" id="mitarbeiterKalender">
                <thead>
                    <tr>
                        <th class="sticky-col sticky-col-0">ID</th>
                        <th class="sticky-col sticky-col-1">Nachname</th>
                        <th class="sticky-col sticky-col-2">Vorname</th>
                        <th>Wochenstunden</th>
                        <th>MonatsSumme</th>
                        <th>Delta</th>
                        <% if (dates && dates.length > 0) { %>
                            <% dates.forEach(function(date) { %>
                                <th><%= date %></th>
                            <% }); %>
                        <% } %>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody id="mitarbeiterKalenderTbody">
                    <% if (mitarbeiterDaten && mitarbeiterDaten.length > 0) { %>
                        <% mitarbeiterDaten.forEach(function(mitarbeiter) { %>
                            <tr data-nutzer-id="<%= mitarbeiter.NutzerID %>" 
                                data-ressort="<%= mitarbeiter.Ressort %>" 
                                data-cvd="<%= mitarbeiter.CVD %>"
                                data-name="<%= (mitarbeiter.Vorname + ' ' + mitarbeiter.Nachname).toLowerCase() %>">
                                
                                <td class="sticky-col sticky-col-0"><%= mitarbeiter.NutzerID %></td>
                                <td class="sticky-col sticky-col-1"><%= mitarbeiter.Nachname %></td>
                                <td class="sticky-col sticky-col-2"><%= mitarbeiter.Vorname %></td>
                                <td><%= mitarbeiter.Wochenstunden %></td>
                                <td><%= mitarbeiter.MonatsSumme %></td>
                                <td><%= mitarbeiter.Delta %></td>

                                <% if (datesISO && datesISO.length > 0) { %>
                                    <% datesISO.forEach(function(datum) { %>
                                        <% const arbeitszeit = mitarbeiter.Arbeitszeiten[datum] || { Von: '', Bis: '' }; %>
                                        <td class="zeit-zelle" data-datum="<%= datum %>" data-von="<%= arbeitszeit.Von %>" data-bis="<%= arbeitszeit.Bis %>">
                                            <span><%= arbeitszeit.Von ? `${arbeitszeit.Von} - ${arbeitszeit.Bis}` : '-' %></span>
                                        </td>
                                    <% }); %>
                                <% } %>
                                <td><button class="save-row-btn">Speichern</button></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr><td colspan="100%">Keine Mitarbeiterdaten vorhanden.</td></tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div id="edit-modal" class="modal-hintergrund" style="display: none;">
        <div class="modal-inhalt">
            <h2>Zeiten bearbeiten für <span id="modal-datum"></span></h2>
            <label>Von: <input type="time" id="modal-von-zeit"></label>
            <label>Bis: <input type="time" id="modal-bis-zeit"></label>
            <div class="modal-aktionen">
                <button id="modal-speichern-btn">Übernehmen</button>
                <button id="modal-abbrechen-btn">Abbrechen</button>
                <button id="modal-leeren-btn">Leeren</button>
            </div>
        </div>
    </div>

    <script src="/js/bearbeiten.js"></script>
</body>
</html>