<div class="page-wrapper">
    <h1>Mitarbeiter Kalender bearbeiten</h1>

    <div class="filter-bereich">
        <label for="ressortFilter">Ressort:</label>
        <select id="ressortFilter">
            <option value="">Alle Ressorts</option>
        </select>

        <label for="cvdFilter">CVD:</label>
        <select id="cvdFilter">
            <option value="">Alle</option>
            <option value="true">Ja</option>
            <option value="false">Nein</option>
        </select>

        <label for="mitarbeiterSuche">Mitarbeiter suchen:</label>
        <input type="text" id="mitarbeiterSuche" placeholder="Nach Name oder ID suchen">
    </div>

    <table class="mitarbeiter-kalender" id="mitarbeiterKalender">
        <thead>
            <tr>
                <th>NutzerID</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Ressort</th>
                <th>CVD</th>
                <th class="notizen-spalte">Notizen</th>
                <th>Wochenstunden</th>
                <th>MonatsSumme</th>
                <th>Delta</th>
                <% if (dates && dates.length > 0) { %>
                    <% dates.forEach(function(date) { %>
                        <th colspan="2"><%= date %></th>
                    <% }); %>
                <% } %>
            </tr>
            <tr>
                <th colspan="9"></th>
                <% if (dates && dates.length > 0) { %>
                    <% dates.forEach(function() { %>
                        <th>Von</th>
                        <th>Bis</th>
                    <% }); 
                } %>
                </tr>
            </thead>
            <tbody id="mitarbeiterKalenderTbody" data-mitarbeiter-daten="<%= JSON.stringify(mitarbeiterDaten) %>">
                <% if (mitarbeiterDaten && mitarbeiterDaten.length > 0) { %>
                    <% mitarbeiterDaten.forEach(function(mitarbeiter) { %>
                        <tr data-nutzer-id="<%= mitarbeiter.NutzerID %>">
                            <td><%= mitarbeiter.NutzerID %></td>
                            <td><%= mitarbeiter.Nachname %></td>
                            <td><%= mitarbeiter.Vorname %></td>
                            <td><%= mitarbeiter.Ressort %></td>
                            <td><%= mitarbeiter.CVD %></td>
                            <td class="notizen-spalte"><%= mitarbeiter.Notizen %></td>
                            <td><%= mitarbeiter.Wochenstunden %></td>
                            <td><%= mitarbeiter.MonatsSumme %></td>
                            <td><%= mitarbeiter.Delta %></td>
                            <% if (dates && dates.length > 0) { %>
                                <% Object.keys(mitarbeiter.Arbeitszeiten).forEach(function(datum) { %>
                                    <td><input type="time" value="<%= mitarbeiter.Arbeitszeiten[datum].Von || '' %>" class="arbeitszeit-von"></td>
                                    <td><input type="time" value="<%= mitarbeiter.Arbeitszeiten[datum].Bis || '' %>" class="arbeitszeit-bis"></td>
                                <% }); %>
                            <% } %>
                            <td><button class="save-row-btn">Speichern</button></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr><td colspan="100%">Keine Mitarbeiterdaten vorhanden.</td></tr>
                <% } %>
            </tbody>
        </table>

        <button id="save-all-btn">Alle Änderungen speichern</button>
    </div>
    <script src="/js/bearbeiten.js"></script>